.Wrap{
    margin-left: 5px;
}


.PlaceFullInformationPhotoSection{
    float: left;
}

.PlaceWrap{
   width: 100vw;
}

.PhotoSection{
    width: 250px;
    height: 300px;
}



.SmallImageSection{
    display: flex;
    justify-content: left;
}
